<% layout("/layouts/boilerplate") -%>
<body>
    <h2>All Books</h2>
        <!-- <form action="/cart">
            <button>Your Cart</button>
        </form> -->
    <ul>
        <% for(let book of allBooks) { %>
            <li><a href="/books/<%= book._id %>"><%= book.title %></a></li>
        <% } %>    
    </ul>
</body>
