/* Navbar */
.navbar{
    height: 5rem;
    position: relative;
    background-color: white;
}

.fa-book{
    color: green;
    font-size: 2.5rem;
}

.nav-link{
    color: black !important;
}

@media (max-width: 767.98px) {
    .navbar-collapse {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #f8f9fa;
        /* same as bg-light */
        border-bottom: 1px solid #dee2e6;
        z-index: 1050;
    }
}