<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OceanOfChapters</title>
</head>
<body>
    <h2>Your Cart</h2>
    <% if (!cart || cart.items.length === 0) { %>
    <p>Your cart is empty</p>
    <% } else { %>
        <ul>
            <% cart.items.forEach(item => { %>
                <li>
                    <%= item.book.title %>
                    &#8377;<%= item.book.price %>
                    (Qty: <%= item.quantity %>)
                </li>
          <% }) %>
        </ul>
        <% 
          let total = 0;
          cart.items.forEach(item => {
          total += item.book.price * item.quantity;
          });
        %>
        <h3>Total Price: &#8377;<%= total %></h3>
    <% } %>  
    <form action="/cart/clear" method="POST">
        <button type="submit">Clear Cart</button>
    </form>
  
</body>
</html>